/* Nav.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #Dff2ff;
    color: #fff;
    height: 80px;
    border-radius: 13px;
  }
  
  .logo img {
    height: 47px; /* Adjust size as needed */
  }
  
  .nav-links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-links li {
    margin: 0 15px; /* Adjust spacing as needed */
  }
  
  .nav-links a {
    color: #22346c;
    text-decoration: none;
    font-size: 18px; /* Adjust font size as needed */
  }
  
  .nav-links a:hover {
    
    color: red;
  }
  
  .social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 23px;
    font-size: 20px;
  }
  
  .social-icons li {
    margin: 0 10px; /* Adjust spacing as needed */
  }
  
  .social-icons a {
    color: #22346c;
    text-decoration: none;
    
  }
  
  .get-in-touch {
    background-color: #22346c; /* Adjust color as needed */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px; /* Adjust font size as needed */
  }
  
  .get-in-touch:hover {
    background-color: #e67e22; /* Adjust hover color as needed */
  }
  